// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header{
  margin-left: 525px;
  width: 316px;
  background-color: #BECFFB;
}

#header-title{
  margin-left: 525px;
  width: 316px;
  background-color: #BECFFB;
}